.bg-primary {
    background-color: #694F8E;
}
.bg-secondary {
    background-color: #E3A5C7;
}
.bg-accent {
    background-color: #B692C2;
}
.bg-light {
    background-color: #FFDFD6;
}
.text-primary {
    color: #694F8E;
}
.text-secondary {
    color: #E3A5C7;
}
.text-accent {
    color: #B692C2;
}
.text-light {
    color: #FFDFD6;
}

/* Dark Mode Styles */
.dark-mode .bg-primary {
    background-color: #17153B;
}
.dark-mode .bg-secondary {
    background-color: #2E236C;
}
.dark-mode .bg-accent {
    background-color: #433D8B;
}
.dark-mode .bg-light {
    background-color: #C8ACD6;
}
.dark-mode .text-primary {
    color: #C8ACD6;
}
.dark-mode .text-secondary {
    color: #433D8B;
}
.dark-mode .text-accent {
    color: #2E236C;
}
.dark-mode .text-light {
    color: #17153B;
}
.dark-mode .text-black {
    color: #C8ACD6;
}
.dark-mode {
    background-color: #17153B;
    color: #C8ACD6;
}